# Dependency directories
node_modules/
dist/

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Databases & local uploads
uploads/*.pdf
uploads/*.txt
uploads/users.json
uploads/db.json

# System files
.DS_Store
Thumbs.db
*.log
.gemini/
